.fonctionnement-section__cards__card {
    display: flex;
    background-color: $background-color-2;
    padding: 1.5rem;
    border-radius: 20px;
    @include box-shadow;
    position: relative;

    &__number {
        position: relative;
        right: 2.15rem;
        width: 1rem;
        height: 1rem;
        text-align: center;
        color: $button-text-color;
        background-color: $primary-colour;
        padding: 0.15rem;
        border-radius: 50%;
        font-weight: 400;
        line-height: 1;
        z-index: 1;
    }

    &__icon {
        color: $fonctionnement-card-icon-color;
        margin-left: -1rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        z-index: 1;
        position: relative;

    }

    &__text {
        z-index: 1;
    }

    &::after {
        background-color: scale-color($primary-colour, $lightness: +90%);
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        position: absolute;
        opacity: 0;
        z-index: 0;
        transition: opacity 0.6s;
    }

    &:hover {

        &::after {
            opacity: 1;
        }

        &__icon--mobile::after {
            
            opacity: 1;
        }
    }
}

// Fonctionnement Icons Hover Transition

.fonctionnement-section__cards__card__icon--mobile {

    &::after {
        content: "\f3cf";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0.5rem;
        position: absolute;
        color: $primary-colour;
        display: inline-block;
        opacity: 0;
        transition: opacity 0.3s;
    }

}

.fonctionnement-section__cards__card--1:hover{
    .fonctionnement-section__cards__card__icon--mobile::after {
        opacity: 1;
    }
}

.fonctionnement-section__cards__card__icon--bars {

    &::after {
        content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0.5rem;
        position: absolute;
        color: $primary-colour;
        display: inline-block;
        opacity: 0;
        transition: opacity 0.3s;
    }

}

.fonctionnement-section__cards__card--2:hover{
    .fonctionnement-section__cards__card__icon--bars::after {
        opacity: 1;
    }
}

.fonctionnement-section__cards__card__icon--store {

    &::after {
        content: "\f54e";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0.5rem;
        position: absolute;
        color: $primary-colour;
        display: inline-block;
        opacity: 0;
        transition: opacity 0.3s;
    }

}

.fonctionnement-section__cards__card--3:hover{
    .fonctionnement-section__cards__card__icon--store::after {
        opacity: 1;
    }
}

.restaurant-card {
    height: 250px;
    border-radius: 20px;
    @include box-shadow;
    overflow: hidden;

    &__image {
        height: 184px;
        overflow: hidden;
        position: relative;

        >img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 50% 100%;
        }
    }

    &__badge {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 1;
        width: 86px;
        text-align: center;
        padding: 0.25rem;
        background-color: $tertiary-colour;
        color: darken($color: $tertiary-colour, $amount: 40)
    }

    &__body {
        display: flex;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 2rem;
        justify-content: space-between;
    }

    &__heart-logo {
        padding-top: 1rem;
        position: relative;

        &::after {
            content: "\f004";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            top: 1rem;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            position: absolute;
            color: $primary-colour;
            display: inline-block;
            opacity: 0;
            transition: all 0.5s;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

// specific card image file positioning

img[src="images/restaurants/lanote-image.jpg"] {
    object-position: 50% 62%;
}

.dish-card {
    background-color: $background-colour-1;
    border-radius: 15px;
    @include box-shadow;
    height: 3.5rem;
    padding-left: 0.5rem;
    padding-top: 0.75rem;
    overflow: hidden;
    position: relative;

    &__title {
        font-weight: $bolder-font-weight;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        line-height: 1.5;

        &__byline {
            font-weight: $light-font-weight;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: all 0.6s;
            width: 100%;
        }

        &__price {
            font-weight: $bolder-font-weight;
            padding-right: 1.5rem;
            transition: all 0.6s;
        }
    }

    &__check-icon--wrapper {
        background-color: $tertiary-colour;
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        height: 100%;
        text-align: center;
        transform: translateX(100%);
    }

    &__check-icon {
        color: $tertiary-colour;
        background-color: $background-colour-1;
        width: 1rem;
        height: 1rem;
        padding: 0.25rem;
        border-radius: 50%;
        margin-top: 25%;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover .dish-card__body__price {
        transform: translateX(-125%);
    }

    &:hover .dish-card__body__byline {
        width: 60%;

        @include desktop-version {
            width: 100%;
        }
    }

    &:hover .dish-card__check-icon--wrapper {
        animation: check-icon-wrapper-animation 0.6s both;
    }

    &:hover .dish-card__check-icon {
        animation: check-icon-animation 0.5s 0.2s both;
    }

}