.spinner-wrapper {
    position: fixed;
    top: 35vh;
    left: 35vw;
    z-index: 1;
    animation: demofadeout 3s both ease-in;

    @include desktop-version {
        top: 42vh;
        left: 42vw;
    }
}

.loading-spinner {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;

    @include desktop-version {
        width: 300px;
        height: 300px;
    }


    &__spin1 {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 10px solid transparent;
        border-radius: 50%;
        border-top-color: $secondary-colour;
        animation: spin1 1.2s linear infinite;
        @include desktop-version {
            border-width: 30px;
        }
    }

    &__spin2 {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 10px solid transparent;
        border-radius: 50%;
        border-bottom-color: $tertiary-colour;
        animation: spin1 1.2s linear infinite;
        @include desktop-version {
            border-width: 30px;
        }
    }
}

@keyframes spin1 {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes demofadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}